<a href="https://colab.research.google.com/github/matheusjiran/python_pandas_course/blob/master/getdealid.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import json

In [9]:
with open('data.json','r') as f:
  data = json.load(f)
type(data)

dict

In [23]:
properties = data.get('properties')
df = pd.DataFrame.from_dict(properties)
df = pd.DataFrame.transpose(df)
df

                                                                     versions  ... updatedByUserId
sl_accountid                [{'name': 'sl_accountid', 'value': '878931101'...  ...            None
dealname                    [{'name': 'dealname', 'value': 'Twilio IoT - N...  ...        10360851
hs_all_accessible_team_ids  [{'name': 'hs_all_accessible_team_ids', 'value...  ...         3665726
num_associated_contacts     [{'name': 'num_associated_contacts', 'value': ...  ...            None
hs_forecast_amount          [{'name': 'hs_forecast_amount', 'value': '2000...  ...            None
...                                                                       ...  ...             ...
csm                         [{'name': 'csm', 'value': '41971855', 'timesta...  ...            None
hs_latest_meeting_activity  [{'name': 'hs_latest_meeting_activity', 'value...  ...            None
deal_source1                [{'name': 'deal_source1', 'value': 'Inbound', ...  ...            None
product_category            [{'name': 'product_category', 'value': 'ion Sa...  ...            None
num_notes                   [{'name': 'num_notes', 'value': '64', 'timesta...  ...            None

[77 rows x 6 columns]

In [30]:
deal_id = df.loc["hs_object_id", "value"]
deal_id

'2459399539'

In [31]:
df.loc["hs_object_id"]

versions           [{'name': 'hs_object_id', 'value': '2459399539...
value                                                     2459399539
timestamp                                              1595338293924
source                                                      CONTACTS
sourceId                                                      CRM_UI
updatedByUserId                                                 None
Name: hs_object_id, dtype: object

In [ ]:
def getdealid(payload):
  properties = payload.get('properties')
  df = pd.DataFrame.from_dict(properties)
  df = pd.DataFrame.transpose(df)
  deal_id = df.loc["hs_object_id", "value"]